<div class="tab-desc">
    <h1>
        Edit an existing task
    </h1>
    <p>
        Here you can edit existing tasks. You can also add test cases to existsing tasks.
    </p>
</div>

<mat-horizontal-stepper [linear]="true" #stepper>
    <!-- Step 1 -->
    <mat-step label="Select a task" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <mat-selection-list [(ngModel)]="selectedTasks" multiple="false" formControlName="taskCtrl" required
                (selectionChange)="onTaskChange()">
                <mat-list-option *ngFor="let task of tasks" [value]="task">
                    <h3 matLine>{{task.name}} <span class="task-id">(#{{task.id}}) </span></h3>
                    <h4 matLine>{{task.description}}</h4>
                </mat-list-option>
            </mat-selection-list>
        </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step label="Edit task details" [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="editedTask.name" formControlName="nameCtrl" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="editedTask.description"
                    formControlName="descCtrl"></textarea>
            </mat-form-field>

            <div class="button-box">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step label="Edit test cases" [stepControl]="thridFormGroup">
        <form [formGroup]="thridFormGroup">
            <h3 class="subtask-label">Select an existing test case:</h3>
            <mat-selection-list multiple="false" formControlName="taskCasesListCtrl" required
                (selectionChange)="onTestCaseChange($event)">
                <mat-list-option *ngFor="let testCase of selectedTaskTestCases" [value]="testCase">
                    <h3 matLine>
                        <span>
                            <mat-icon>input</mat-icon>
                            {{testCase.input}}
                        </span>
                        <span class="task-id">(#{{testCase.id}}) </span>
                    </h3>
                    <h3 matLine>
                        <span>
                            <mat-icon>west</mat-icon>
                            {{testCase.output}}
                        </span>
                    </h3>
                </mat-list-option>
            </mat-selection-list>

            <h3 class="subtask-label">... or create a new test case:</h3>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedTestCase.name" formControlName="nameCtrl" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="selectedTestCase.input"
                    formControlName="inputCtrl" [(ngModel)]="selectedTestCase.input"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Output</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="selectedTestCase.output"
                    formControlName="outputCtrl" [(ngModel)]="selectedTestCase.output"></textarea>
            </mat-form-field>
            <!-- <mat-selection-list multiple="false" (selectionChange)="onTestCaseChange($event)"
                formControlName="testCaseCtrl">
                <mat-list-option *ngFor="let testCase of selctedTask?.testCases" [value]="testCase">
                    <h3 matLine>
                        {{ testCase.name }}
                        <span class="task-id">(#{{ testCase.id }}) </span>
                    </h3>
                    <h4 matLine>{{ testCase.input }}</h4>
                    <h4 matLine>{{ testCase.output }}</h4>
                </mat-list-option>
            </mat-selection-list> -->

            <div class="button-box">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step label="Accept changes" [stepControl]="fourthFormGroup">
        <mat-spinner></mat-spinner>
    </mat-step>
</mat-horizontal-stepper>