<h1 mat-dialog-title>Group by variable</h1>

<div mat-dialog-content>

  <p>Select a dataset</p>

  <mat-form-field class="dataset-selection" appearance="fill">
    <mat-label>Dataset</mat-label>
    <mat-select [(ngModel)]="selectedViewName" (selectionChange)="onDatasetSelectionChange()">
      <mat-option>(Clear)</mat-option>
      <mat-option *ngFor="let name of viewNames" [value]="name">
        {{name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Group by</p>

  <mat-form-field class="dataset-selection" appearance="fill">
    <mat-label>Variable</mat-label>
    <mat-select [(ngModel)]="selectedVariableName" (selectionChange)="onVariableSelectionChange()">
      <mat-option>(Clear)</mat-option>
      <mat-option *ngFor="let name of variableNames" [value]="name">
        {{name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Agregation</p>
  <p>If you want to discard the field, leave it empty</p>

  <span *ngFor="let selectedAggregation of selectedAggregations | keyvalue">
    <mat-form-field class="dataset-selection" appearance="fill">
      <mat-label>{{ selectedAggregation.key }}</mat-label>
      <mat-select [(ngModel)]="selectedAggregation.value.names" multiple>
        <mat-option *ngFor="let name of availableAggregations" [value]="name">
          {{name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </span>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onAccept()" [disabled]="!selectedVariableName || !selectedViewName">
    Aggregate
  </button>
</div>
