table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.detail {
  overflow: hidden;
  // display: flex;
}

.task-description {
  // width: 100%;
  margin-top: 20px;
}

.solution-description {
  // width: 100%;
  margin-top: 20px;
}

.field-full-width {
  width: 100%
}

.solution-description textarea {
  color: black;
}
