<h1 mat-dialog-title>Filter by comparing values</h1>

<div mat-dialog-content>

  <p>Select a dataset</p>

  <mat-form-field class="dataset-selection" appearance="fill">
    <mat-label>Dataset</mat-label>
    <mat-select [(ngModel)]="selectedViewName" (selectionChange)="onDatasetSelectionChange()">
      <mat-option>(Clear)</mat-option>
      <mat-option *ngFor="let name of viewNames" [value]="name">
        {{name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Select a variable to compare</p>

  <mat-form-field class="dataset-selection" appearance="fill">
    <mat-label>Variable</mat-label>
    <mat-select [(ngModel)]="selectedVariableName" (selectionChange)="onVariableSelectionChange()">
      <mat-option>(Clear)</mat-option>
      <mat-option *ngFor="let name of variableNames" [value]="name">
        {{name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Comparison expression</p>

  <mat-form-field class="operator-field" appearance="fill">
    <mat-label>Operator</mat-label>
    <mat-select [(ngModel)]="selectedOperator">
      <mat-option *ngFor="let name of operators" [value]="name">
        {{name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="constant-field">
    <mat-label>Constant</mat-label>
    <input matInput [(ngModel)]="selectedConstant">
  </mat-form-field>

  <br/>

  <div class="checkbox-wrapper">
    <mat-checkbox [(ngModel)]="keepVariable"
      >Keep the used variable in the result</mat-checkbox
    >
  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onAccept()" [disabled]="!selectedVariableName || !selectedViewName || selectedConstant === undefined">
    Filter
  </button>
</div>
