<mat-form-field class="dataset-min-selection" appearance="fill">
  <mat-label>Dataset</mat-label>
  <mat-select [(ngModel)]="collectionName" (selectionChange)="onDatasetSelectionChange()">
    <mat-option>(Clear)</mat-option>
    <mat-option *ngFor="let name of collectionNames" [value]="name">
      {{name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<plotly-plot [layout]="graph.layout" [data]="graph.data" *ngIf="graph.data[0].z.length > 0"></plotly-plot>
<div class="graph-big-icon-container" *ngIf="graph.data[0].z.length <= 0">
  <mat-icon>bar_chart</mat-icon>
</div>
