mat-form-field {
    width: 100%;
}

.form-container {
    // padding: 30px;
}

.upload-button {
    float: right;
}

.task-id {
    font-size: 80%;
    vertical-align: middle;
    float: right;
}

.mat-icon {
    vertical-align: middle;
}

.subtask-label {
    margin-top: 30px;
}

.task-id {
  float: right;
  font-size: 70%;
  color: #aaa;
}

.inout-icon {
  margin-right: 5px;
}

.modified-label {
  float: right;
  font-size: 70%;
  color: rgb(91, 255, 91);
}
