.task-id {
  display: inline-block;
  font-size: 70%;
  color: #aaa;
  text-overflow: ellipsis;
  max-width: 170px;
  direction: rtl;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.item-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.item-right-column {
  text-align: right;
}

table {
  width: 100%;
}
