<h1 mat-dialog-title>Select indicies</h1>

<div mat-dialog-content>
  <p>Select index columns for better performance</p>
  <p>An index will be created for each selected column </p>

  <mat-form-field class="dataset-selection">
    <mat-label>Available headers</mat-label>
    <mat-select [formControl]="headers" multiple>
      <mat-select-trigger>
        {{headers.value ? headers.value[0] : ''}}
        <span *ngIf="headers.value?.length > 1">
          (+{{headers.value.length - 1}} {{headers.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let header of data.headers" [value]="header">{{header}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="headers.value" cdkFocusInitial>Ok</button>
</div>
