.logo {
  position: fixed;
  left: 50%;
  bottom: 20px;
  margin-left: -75px;
  // margin: 20px;
  // text-align: center;
}

.logo-placeholder {
  height: 80px;
}

.tab-text {
  margin-left: 8px;
}

.result-menu-tab {
}

// @keyframes framemove {
//   from {
//     width: 0%;
//     min-width: 0%;
//   }
//   to {
//     width: 100%;
//     min-width: 100%;
//   }
// }


