<div class="main-container">
  <!-- <router-outlet></router-outlet> -->

  <app-toolbar></app-toolbar>

  <!--
<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of links"
    (click)="activeLink = link"
    [active]="activeLink == link"
    [routerLink]="link.link"
  >
    {{ link.label }}
  </a>
</nav> -->

  <nav
    mat-tab-nav-bar
    class="main-tab-bar"
    backgroundColor="primary"
    mat-stretch-tabs
  >
    <a
      mat-tab-link
      *ngFor="let link of links"
      (click)="activeLink = link"
      [active]="activeLink == link"
      [routerLink]="link.link"
    >
      <mat-icon>{{link.icon}}</mat-icon>
      <span class="tab-text">{{link.label}}</span>
    </a>
  </nav>

  <router-outlet></router-outlet>

  <div class="logo-placeholder"></div>
  <div class="logo">
    <img width="150" src="/assets/PB_logo_poziom.png" />
  </div>
</div>

<app-context-menu></app-context-menu>
