<div class="tab-desc">
  <h1>
    Add a new task
  </h1>
  <p>
    Enter a name and description for the new task.
    Please make sure that the description includes all the information necessary to implement the algorithm.
    In the "Edit tasks" tab you will be able to add test cases for the uploaded solutions to the task.
  </p>
</div>

<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10"></textarea>
  </mat-form-field>

  <div class="button-box">
    <button mat-button>Save</button>
  </div>
</div>
