<div class="container">
  <div class="tab-header">
    <h1>About CodeRunner</h1>
    <div class="tab-desc-container">
      <div>
        <mat-icon class="desc-icon">info_outline</mat-icon>
      </div>
      <div>
        The application allows you to test and compare implementations of algorithms.
        The implementation code is loaded in one of the available programming languages. The code is assigned as a solution to a given
        a task. Each task consists of test cases that define what result should be returned by the algorithm for a given input. CodeRunner provides an analysis module that allows you to analyze the results stored by the application, which allows you to choose the optimal solution.
      </div>
    </div>
  </div>

  <div class="tab-content">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Step 1 -->
      <mat-step label="Choose a task" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <mat-selection-list
            [(ngModel)]="selectedTasks"
            multiple="false"
            formControlName="taskCtrl"
            required
            (selectionChange)="onTaskChange()"
          >
            <mat-list-option *ngFor="let task of tasks" [value]="task">
              <h3 matLine>
                {{ task.name }} <span class="task-id">id: {{ task.id }}</span>
              </h3>
              <h4 matLine>{{ task.description }}</h4>
            </mat-list-option>
          </mat-selection-list>

          <!-- <app-tasks (onTaskChange)="onTaskChange($event)"></app-tasks> -->
        </form>
      </mat-step>

      <!-- Step 2 -->
      <mat-step label="Upload a solution" [stepControl]="secondFormGroup">
        <div class="task-details">
          <h1>Name: {{ getSelectedTask()?.name }}</h1>
          <p>Description: {{ getSelectedTask()?.description }}</p>
        </div>
        <form [formGroup]="secondFormGroup">
          <div class="form-container">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input
                matInput
                [(ngModel)]="solution.name"
                formControlName="nameCtrl"
                required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Code</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                [(ngModel)]="solution.code"
                formControlName="codeCtrl"
                required
              ></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Language</mat-label>
              <mat-select
                [(ngModel)]="solution.language"
                formControlName="langCtrl"
                required
              >
                <mat-option value="python">Python</mat-option>
                <mat-option value="java">Java</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="button-box">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="onUpload()">
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <!-- Step 3 -->
      <mat-step label="Send solution" [stepControl]="thirdFormGroup">
        <mat-spinner></mat-spinner>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
