mat-form-field {
  width: 100%;
}

.desc-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.tab-desc-container {
  display: flex;
  flex-wrap: nowrap;
}

.mat-select-panel mat-option.mat-option {
  height: unset;
}

.mat-option-text.mat-option-text {
  white-space: normal;
}

.task-details {
  margin-bottom: 30px;
}

mat-form-field {
  width: 100%;
}

.upload-button {
  float: right;
}

.task-id {
  float: right;
  font-size: 70%;
  color: #aaa;
}
